<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php"
         colors="true">

    <!-- Dummy values used to provide credentials. No need to change these. -->
    <php>
        <server name="AWS_ACCESS_KEY_ID" value="foo" />
        <server name="AWS_SECRET_ACCESS_KEY" value="bar" />
        <server name="ENDPOINT" value="mtmss.com" />
    </php>

    <testsuites>
        <testsuite name="Mss">
            <directory>tests/Mss/Tests</directory>
        </testsuite>
    </testsuites>

    <!-- Exclude the integration tests in regular unit tests -->
    <groups>
        <exclude>
            <group>performance</group>
        </exclude>
    </groups>

    <filter>
        <whitelist>
            <directory suffix=".php">./src/Mss</directory>
            <exclude>
                <directory suffix="Interface.php">./src/Mss</directory>
                <directory>./src/Mss/**/Enum</directory>
                <directory>./src/Mss/**/Resources</directory>
            </exclude>
        </whitelist>
    </filter>

</phpunit>
